.jumbotron {
  margin-bottom: 4em;
}
.person-wrapper {
  width: 900px;
 margin: 30px auto 0 auto;

 padding: 20px;
 border-radius: 100px;

}

.profile-pic {
  width: 50%;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #2892D7;
}

.teamDescription{
  color: black;

}
