
.sidebar-section img {
  width: 100%;
  margin-bottom: 2em;
}
.header-image {
  height: 200px;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}
.rightsText{
  color:black;
}
